$btn-font-weight:bold;

//.mainContainer {
//  margin-top: 50px;
//}
//
//.feature-container {
//  margin-top: 15px;
//}
//
//textarea {
//  resize: none;
//  height: 15em;
//}

.grid-container {
  display: grid;

  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;

}

.mainMap {
  // have to sync this height with the height in the declaration of <Map> inside MapContainer

  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;

  grid-column: span 1;
}

.resultList {
  grid-column: span 1;

}

#sampleimage {
  grid-column: span 1;
  width: 100%;
}

//@import '~bootstrap/scss/bootstrap.scss';