$btn-font-weight:bold;

//.mainContainer {
//  margin-top: 50px;
//}
//
//.feature-container {
//  margin-top: 15px;
//}
//
//textarea {
//  resize: none;
//  height: 15em;
//}

.mainMap {
  // have to sync this height with the height in the declaration of <Map> inside MapContainer

  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

//@import '~bootstrap/scss/bootstrap.scss';