$btn-font-weight:bold;



.feature-container {
  margin-top: 15px;
}

/* set a max-width for horizontal fluid layout and make it centered */

#app {
  //margin: auto;
  width: 100%;
  //max-width: 90%; /* or 950px */
  //min-width: 25em;

}


.container {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
}
//@import '~bootstrap/scss/bootstrap.scss';