$btn-font-weight:bold;

.mainContainer {
  margin-top: 50px;
  width: 75%;
}

.feature-container {
  margin-top: 15px;
}

/* set a max-width for horizontal fluid layout and make it centered */

#app {
  margin-right: auto;
  margin-left: auto;
  max-width: 50em; /* or 950px */
  min-width: 25em;
}

//@import '~bootstrap/scss/bootstrap.scss';